.app {
  height: 100vh;
  overflow: hidden;

  &__top-section {
    height: 20vh;
    padding: 0.5rem;
  }

  &__main-section, &__side-section {
    display: inline-block;
    height: 80vh;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  &__main-section {
    width: 80vw;
  }

  &__side-section {
    width: 20vw;
  }

  &__collections-banners {
    &__header {
      font-size: 1.2rem;
      margin-bottom: 0.8rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    &__content {
      display: flex;
      overflow-y: auto;
      margin-bottom: 0.5rem;

      img {
        display: inline-block !important;
        height: 10vh;
        border-radius: 20px;
        margin-bottom: 0.5rem;
  
        &:not(:last-child) {
          margin-right: 0.8em;
        }
      }
    }
  }
}
