.app {
  height: 100vh;
  overflow: hidden;

  &__top-content {
    height: 20vh;
    padding: 0.5rem;
  }

  &__main-content, &__side-content {
    float: left;
    height: 80vh;
    padding: 1rem;
    overflow: auto;
  }

  &__main-content {
    width: 75vw;
  }

  &__side-content {
    width: 25vw;
  }
}
