.app__app-collection {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  &__header {
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    margin-bottom: 0.3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &__title {
      font-size: 1.2rem;
    }

    &__action-button {
      color: rgb(200, 200, 200);
      float: right;

      &:hover {
        cursor: pointer;
        color: grey;
      }
    }
  }

  &__modal {
    width: auto !important;
    min-width: 40vw;
    max-width: 80vw;

    &__content {
      margin: 1rem;
      max-height: 90%;
      overflow: auto;
    }
  }
}
